* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #043a3b; /* Align with your chosen color scheme */
    color: white; /* Text color for readability against dark background */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15rem 0;
    height: 100vh;
}

.card {
    backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(3px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.15); /* Slight transparency to blend with background */
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    width: 300px;
}

.lock-icon {
    font-size: 3rem;
    color: #ffffff; /* Make icon stand out on dark background */
    padding-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-transform: uppercase;
    color: #ffffff; /* Text color to match the theme */
}

p {
    font-size: 12px;
    padding-top: 10px;
    color: #f0f0f0; /* Subtle off-white for smaller text */
}

.passInput {
    margin-top: 15px;
    width: 80%;
    height: 40px;
    background: rgba(255, 255, 255, 0.1); /* Slight transparency for the input */
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border-radius: 5px;
    padding-left: 8px;
}

.passInput::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Lighter placeholder color */
}

button {
    background-color: #41939a; /* Align with your navigation color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button:hover {
    background-color: #2e8182; /* Darker shade on hover */
}
